.projectsCenter {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .projects {
    width: 90% !important;
    max-width: 90% !important;
  }
}
.projects {
  padding: 20px;
  max-width: 50%;
}

.project h1 {
  margin-bottom: 20px;
}
.project {
  margin-bottom: 30px;
}
.project h2 {
  margin-bottom: 10px;
}
.project p {
  margin: 5px 0;
}
