.Leetcode-logo {
  height: 4vmin;
  pointer-events: none;
}
.link-button {
  background: none;
  color: blue;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: underline;
}

.link-button:hover {
  color: darkblue;
}

@media (max-width: 768px) {
  .profiles {
    width: 90%;
    display: inline-flex;
  }
}
.profiles {
  margin: 0;
  display: inline-flex;
}

.contact-info a {
  margin: 0 6px 0 6px;
}
