.experienceCenter {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.experience {
  padding: 20px;
  max-width: 50%;
}

.experience h1 {
  margin-bottom: 20px;
}
.job {
  margin-bottom: 30px;
}
.job h2 {
  margin-bottom: 10px;
}
.job p {
  margin: 5px 0;
}
